<form #registerForm="ngForm" (ngSubmit)='registrarUsuario()'>
    <div class="cbp-mc-column">
        <div id="Contenedor2">
            <div class="Icon">
                DATOS PERSONALES
            </div>
            <div class="form-group">
                <label for="nombre">Nombre Completo</label>
                <input type="text" class="form-control" name="nombre" #nombre="ngModel"
                    [(ngModel)]="usuarioRegistrar.nombreCompleto" aria-describedby="sizing-addon1" required>
                <small *ngIf="!nombre.valid && nombre.touched"> El campo es requerido </small>
            </div>
            <div class="form-group">
                <label for="identificacion">Número de identificación</label>
                <input type="text" class="form-control" name="identificacion" #identificacion="ngModel"
                    [(ngModel)]="usuarioRegistrar.identificacion" aria-describedby="sizing-addon1" required>
                <small *ngIf="!identificacion.valid && identificacion.touched"> El campo es requerido </small>
            </div>
            <div class="form-group">
                <label for="celular">Celular</label>
                <input type="number" class="form-control" name="celular" #celular="ngModel"
                    [(ngModel)]="usuarioRegistrar.celular" aria-describedby="sizing-addon1" required pattern="[0-9]+">
                <small *ngIf="!celular.valid && celular.touched"> El número no es válido </small>
            </div>
            <div class="form-groug">
                <label>Correo</label>
                <input type="email" class="form-control" name="correo" #correo="ngModel"
                    [(ngModel)]="usuarioRegistrar.correo" aria-describedby="sizing-addon1" required
                    pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                    <small *ngIf="!correo.valid && correo.touched" style="text-align: right;">
                        <p> La correo ingresado es invalido </p>
                    </small>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" name="contrasena" class="form-control" #contrasena="ngModel"
                    [(ngModel)]="usuarioRegistrar.contrasena" aria-describedby="sizing-addon1" required>
                <small *ngIf="!contrasena.valid && contrasena.touched" style="text-align: right;">
                    <p> La contraseña ingresada es invalida </p>
                </small>
            </div>
            <div class="form-group">
                <label for="contrasena2">Confirmar contraseña</label>
                <input type="password" class="form-control" name="contrasena2" #contrasena2="ngModel"
                    [(ngModel)]="valida.contrasena" aria-describedby="sizing-addon1" required pattern="[0-9]+">
                    <small *ngIf="!(valida.contrasena == usuarioRegistrar.contrasena)" style="text-align: right;">
                        <p> La contraseña no coincide </p>
                    </small>
            </div>
        </div>
    </div>
    <div class="cbp-mc-column">
        <div id="Contenedor2">
            <div class="Icon">
                DATOS DE RESIDENCIA
            </div>
            <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" class="form-control" name="departamento" #departamento="ngModel"
                    [(ngModel)]="usuarioRegistrar.departamento" aria-describedby="sizing-addon1" required>
                <small *ngIf="!departamento.valid && departamento.touched"> El campo es requerido </small>
            </div>
            <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" name="ciudad" #ciudad="ngModel"
                    [(ngModel)]="usuarioRegistrar.ciudad" aria-describedby="sizing-addon1" required>
                <small *ngIf="!ciudad.valid && ciudad.touched"> El campo es requerido </small>
            </div>
            <div class="form-group">
                <label for="barrio">Barrio</label>
                <input type="text" class="form-control" name="barrio" #barrio="ngModel"
                    [(ngModel)]="usuarioRegistrar.barrio" aria-describedby="sizing-addon1" required>
                <small *ngIf="!barrio.valid && barrio.touched"> El campo es requerido </small>
            </div>
            <div class="form-groug">
                <label>Dirección de Residencia</label>
                <input type="text" class="form-control" name="direccion" #direccion="ngModel"
                    [(ngModel)]="usuarioRegistrar.direccion" aria-describedby="sizing-addon1" required>
                    <small *ngIf="!direccion.valid && direccion.touched"> El campo es requerido </small>
            </div>
            <br>
        </div>
    </div>
    <div class="cbp-mc-column">
        <div id="Contenedor2">
            <div class="Icon">
                DATOS FINANCIEROS
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="salario" placeholder="Salario" #salario="ngModel"
                    [(ngModel)]="valida.validaRango" aria-describedby="sizing-addon1" (ngModelChange)="rangoSalario(valida.validaRango)" required >
                <small *ngIf="!salario.valid && salario.touched"> El número no es válido </small>
                <label for="salarioRango">Seleccione rango de salario: </label>
                <select  name="salarioRango" #salarioRango="ngModel" [(ngModel)]="usuarioRegistrar.salario" required>
                    <option [value]="dato"  *ngFor="let dato of valida.rangos"> {{dato}} </option>
                </select>
            </div>
            <div class="form-group">
                <label for="otrosIngresos">Otros Ingresos</label>
                <input type="number" class="form-control" name="otrosIngresos" #otrosIngresos="ngModel"
                    [(ngModel)]="usuarioRegistrar.otrosIngresos" aria-describedby="sizing-addon1" required pattern="[0-9]+">
                <small *ngIf="!otrosIngresos.valid && otrosIngresos.touched"> El número no es válido </small>
            </div>
            <div class="form-group">
                <label for="gastosMensuales">Gastos Mensuales</label>
                <input type="number" class="form-control" name="gastosMensuales" #gastosMensuales="ngModel"
                    [(ngModel)]="usuarioRegistrar.gastosMensuales" aria-describedby="sizing-addon1" required pattern="[0-9]+">
                <small *ngIf="!gastosMensuales.valid && gastosMensuales.touched"> El número no es válido </small>
            </div>
            <div class="form-group">
                <label for="gastosFinancieros">Gastos Financieros</label>
                <input type="number" class="form-control" name="gastosFinancieros" #gastosFinancieros="ngModel"
                    [(ngModel)]="usuarioRegistrar.gastosFinancieros" aria-describedby="sizing-addon1" required pattern="[0-9]+">
                <small *ngIf="!gastosFinancieros.valid && gastosFinancieros.touched"> El número no es válido </small>
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="submit" type="submit"
            [disabled]="registerForm.invalid">Registrar</button>
        <button class="btn btn-lg btn-second btn-block btn-signin" id="reset" type="reset">Limpiar</button>
    </div>

</form>