<form #registerForm="ngForm" (ngSubmit)="cerrar()">
    <div class="cbp-mc-column">
        <div id="Contenedor2">
            <div class="Icon">
                DATOS PERSONALES
            </div>
            <div class="form-group">
                <label for="nombre">Nombre Completo</label>
                <input type="text" class="form-control" name="nombre" #nombre="ngModel"
                    [(ngModel)]="datosUsuario.nombreCompleto" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-group">
                <label for="identificacion">Número de identificación</label>
                <input type="text" class="form-control" name="identificacion" #identificacion="ngModel"
                    [(ngModel)]="datosUsuario.identificacion" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-group">
                <label for="celular">Celular</label>
                <input type="number" class="form-control" name="celular" #celular="ngModel"
                    [(ngModel)]="datosUsuario.celular" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-groug">
                <label>Correo</label>
                <input type="email" class="form-control" name="correo" #correo="ngModel"
                    [(ngModel)]="datosUsuario.correo" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="text" name="contrasena" class="form-control" #contrasena="ngModel"
                    [(ngModel)]="datosUsuario.contrasena" aria-describedby="sizing-addon1" disabled>
            </div>
        </div>
    </div>
    <div class="cbp-mc-column">
        <div id="Contenedor2">
            <div class="Icon">
                DATOS DE RESIDENCIA
            </div>
            <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" class="form-control" name="departamento" #departamento="ngModel"
                    [(ngModel)]="datosUsuario.departamento" aria-describedby="sizing-addon1" disabled >
            </div>
            <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" name="ciudad" #ciudad="ngModel"
                    [(ngModel)]="datosUsuario.ciudad" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-group">
                <label for="barrio">Barrio</label>
                <input type="text" class="form-control" name="barrio" #barrio="ngModel"
                    [(ngModel)]="datosUsuario.barrio" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-groug">
                <label>Dirección de Residencia</label>
                <input type="text" class="form-control" name="direccion" #direccion="ngModel"
                    [(ngModel)]="datosUsuario.direccion" aria-describedby="sizing-addon1" disabled>
            </div>
            <br>
        </div>
    </div>
    <div class="cbp-mc-column">
        <div id="Contenedor2">
            <div class="Icon">
                DATOS FINANCIEROS
            </div>
            <div class="form-group">
                <label for="salario">Salario</label>
                <input type="text" class="form-control" name="salario" #salario="ngModel"
                    [(ngModel)]="datosUsuario.salario" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-group">
                <label for="otrosIngresos">Otros Ingresos</label>
                <input type="number" class="form-control" name="otrosIngresos" #otrosIngresos="ngModel"
                    [(ngModel)]="datosUsuario.otrosIngresos" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-group">
                <label for="gastosMensuales">Gastos Mensuales</label>
                <input type="number" class="form-control" name="gastosMensuales" #gastosMensuales="ngModel"
                    [(ngModel)]="datosUsuario.gastosMensuales" aria-describedby="sizing-addon1" disabled>
            </div>
            <div class="form-group">
                <label for="gastosFinancieros">Gastos Financieros</label>
                <input type="number" class="form-control" name="gastosFinancieros" #gastosFinancieros="ngModel"
                    [(ngModel)]="datosUsuario.gastosFinancieros" aria-describedby="sizing-addon1" disabled  >
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block btn-signin"  type="submit">Cerrar Sesión</button>
    </div>

</form>