#Contenedor2{
	width: 400px;
	margin: 50px auto;
	background-color: #F3EDED;
  border: 1px solid #ECE8E8;
	height: 100%;
	border-radius:8px;
}


/**
 * Aplicando al icono de usuario el color de fondo,
 * rellenado de 20px y un redondeado de 120px en forma
 * de un circulo
 */
 .Icon span{
    background: #0051ff;
    padding: 20px;
    border-radius: 120px;
}
/**
* Se aplica al contenedor madre un margen de tamaño 10px hacia la cabecera y pie,
* color de fuente blanco,un tamaño de fuente 50px y texto centrado.
*/
.Icon{
   margin-top: 10px;
   margin-bottom:10px; 
   color: #FFF; 
   font-size: 50px;
   text-align: center;
   background-color: #000000;
}
/**
* Se aplica al contenedor donde muestra en el pie
* la opción de olvidaste tu contraseña?
*/
.opcioncontra{
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}



.cbp-mc-form {
    position: relative;
    }
    
    /* Clearfix hack by Nicolas Gallagher: 
    http://nicolasgallagher.com/micro-clearfix-hack/ */
    .cbp-mc-form:before,
    .cbp-mc-form:after {
    content: " "; display: table;
    }
    
    .cbp-mc-form:after {
    clear: both;
    }
    
    .cbp-mc-column {
    width: 33%;
    padding: 10px 30px;
    float: left;
    }
    
    .cbp-mc-form label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    }
    
    .cbp-mc-form input,
    .cbp-mc-form textarea,
    .cbp-mc-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: #fff;
    display: block;
    width: 100%;
    background: transparent;
    }
    
    .cbp-mc-form input,
    .cbp-mc-form textarea {
    border: 3px solid #fff;
    }
    
    .cbp-mc-form textarea {
    min-height: 200px;
    }
    
    .cbp-mc-form input:focus,
    .cbp-mc-form textarea:focus,
    .cbp-mc-form label:active + input,
    .cbp-mc-form label:active + textarea {
    outline: none;
    border: 3px solid #10689a;
    }
    
    .cbp-mc-form select:focus {
    outline: none;
    }
    
    ::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
    }
    
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
    }
    
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
    }
    
    .cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
    }
    
    .cbp-mc-form input.cbp-mc-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
    }
    
    .cbp-mc-form input.cbp-mc-submit:hover {
    background: #1478b1;
    }
    
    @media screen and (max-width: 70em) {
    .cbp-mc-column {
    width: 50%;
    }
    .cbp-mc-column:nth-child(3) {
    width: 100%;
    }
    }
    
    @media screen and (max-width: 48em) {
    .cbp-mc-column {
    width: 100%;
    padding: 10px;
    }
    }