#footer{
    background: #0051ff;
    width: 100%;
    line-height: 70px;
    color: rgb(255, 255, 255);
    bottom: 0;
  }
  
  #footer p {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

