<header id="main-header">		
    <a id="logo-header" href="#">
        <span class="site-name">COXTI</span>
        <span class="site-desc">Panel de consulta de información</span>
    </a> <!-- / #logo-header -->
    <nav>
        <ul>
            <li><a [routerLink]="['/']">Inicio</a></li>
            <li><a [routerLink]="['/login']">Iniciar Sesion</a></li>
            <li><a [routerLink]="['/registrar']">Registrarse</a></li>
        </ul>
    </nav><!-- / nav -->
</header>



