<div id="Contenedor">
    <div class="Icon">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="ContentForm">
        <form #loginForm="ngForm" (ngSubmit)='iniciarSesion()'>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i
                        class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" class="form-control" name="correo" placeholder="Correo" id="Correo"
                    #correo="ngModel" [(ngModel)]="usuarioLogin.correo"
                    aria-describedby="sizing-addon1" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                    
            </div>
            <small *ngIf="!correo.valid && correo.touched" style="text-align: right;">
                <p> El correo ingresado es invalido </p>
            </small>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" name="contrasena" class="form-control" placeholder="******"
                    #contrasena="ngModel" [(ngModel)]="usuarioLogin.contrasena"
                    aria-describedby="sizing-addon1" required>
            </div>
            <small *ngIf="!contrasena.valid && contrasena.touched" style="text-align: right;">
                <p> La contraseña ingresada es invalida </p>
            </small>
            <br>
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog"
                type="submit" [disabled]="loginForm.invalid">Entrar</button>
        </form>
    </div>
</div>
