<app-cabecera></app-cabecera>
<div class="center">
    <section id="content">
        <!-- Se muestra el componente correspondiente a la ruta de navegacion-->
        <router-outlet></router-outlet>
    </section>
</div>
<app-pie></app-pie>

